<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

    <h1>Welcome to Kiran</h1>
    <h2>Mobile No : 9022392319</h2>

    <h2>Subjects</h2>
    <ul>
        <li>Subject
            <ol>
                <li>Java</li>
                <li>MIC</li>
                <li>Python</li>
            </ol>
        </li>
    </ul>

    <h2>Details</h2>

    <p><b>Name :</b> Kiran</p>
    <p><b>Age :</b> 19</p>
    <p><b>Course :</b> Computer Engineering</p>

    {% if True %}
    <h2>Welcome Kiran</h2>
    {% endif %}
    
  >Marks: {{ marks }}</h2>

<h2>Marks: {{ marks }}</h2>

{% if marks >= 35 %}
    <h2>Pass</h2>
{% else %}
    <h2>Fail</h2>
{% endif %}

  <h2> 
  
  
</body>
</html>